<a href="https://colab.research.google.com/github/VanessaAdochLubang/BSG-gis/blob/main/Take_home_assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Simple Variable Assignment

In [ ]:
# Declare two variables, x and y, and assign them values. Print their values and types
x = 2
y = 3

In [ ]:
type (x)

int

In [ ]:
type(y)

int

In [ ]:
print(x,y)

2 3

Print Statement

In [ ]:
# Use the print function to display a message like "Hello, World!" on the screen.

In [ ]:
print ("Hello, World!")

Hello, World!

Variable Concatenation

In [ ]:
# Declare two string variables, concatenate them, and print the result
str_1 = "Hello"
str_2 = "Vannie"
str_3 = str_1 + " " + str_2

In [ ]:
print(str_3)

Hello Vannie

Numeric Operations

In [ ]:
# Declare two numeric variables, perform basic arithmetic operations on them, and print the results with appropriate messages
x = 144
y = 5.869

XY = x * y

print (XY)

845.136

In [ ]:
print(x-y)

138.131

In [ ]:
print((x*28)/y)

686.999488839666

String Repetition

In [ ]:
# Declare a string variable and use the * operator to repeat it multiple times. Print the result.

In [ ]:
name = "Life is good, " ""
result = name * 4
print (result)

Life is good, Life is good, Life is good, Life is good,

Variable Swap

In [ ]:
# Declare two variables and swap their values. Print the values before and after the swap

In [2]:
a = 50
b = 34

print("Before swap")
print("a =", a)
print("b =", b)

Before swap
a = 50
b = 34

In [4]:
print("After swap")
print("a =", b)
print("b =", a)

After swap
a = 34
b = 50

String Length

In [ ]:
# Declare a string variable and print its length using the len() function

In [6]:
salutation = "Hello there, Sir"
print(len(salutation))

16

Type Conversion

In [ ]:
# Declare a numeric variable and a string variable. Convert the numeric variable to a string and concatenate it with the string variable. Print the result.

In [3]:
num = 42
text = "The answer is "
result = f"{text}{num}"

In [4]:
print(result)

The answer is 42

Formatted String

In [ ]:
# Declare two variables with numeric values. Create a formatted string that includes the values and print it.

In [18]:
x = 35
b = 56

g = f"The value of x is {x} and the value of b is {b}"

In [19]:
print(g)

The value of x is 35 and the value of b is 56